# Android/Gradle
.gradle/
.idea/
build/
app/build/
local.properties
keystore.properties
*.iml

# Tests/outputs
**/captures/
**/outputs/

# OS
.DS_Store
Thumbs.db
/app/release/baselineProfiles/0/app-release.dm
/app/release/baselineProfiles/1/app-release.dm
/app/release/app-release.apk
/app/release/output-metadata.json
